package components

import "fmt"

templ CountdownWidget(hours int, minutes int, icon string) {
	<div class="countdown" sse-swap="countdown" hx-swap="outerHTML">
		<div class="hours">
			{ fmt.Sprintf("%02d", hours) }
		</div>
		<div class="minutes">
			{ fmt.Sprintf("%02d", minutes) }
		</div>
		<img src={ fmt.Sprintf("/assets/weather/bas/%s.svg", icon) }/>
	</div>
}
