package components

import "fmt"

templ TimeWidget(hours string, minutes string, icon string) {
	<div sse-swap="time" hx-swap="outerHTML" class="countdown">
		<div class="hours">
			{ hours }
		</div>
		<div class="minutes">
			{ minutes }
		</div>
		<img src={ fmt.Sprintf("/assets/weather/bas/%s.svg", icon) }/>
	</div>
}
