package views

import (
    "github.com/jmaurer1994/gofish-bot/internal/obs/views/components"
)

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
        @components.Header()
        <body>
        <h1>Test</h1>
        </body>
    </html>
}
